body {
    font-family: Lato;
    background: #3c1053;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    background: linear-gradient(to right, #3c1053, #ad5389);
}

h1 {
    background-color: #2980B9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.fa-plus {
    float: right;
}

li span {
    background-color: #E74C3C;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666666;
}

li:nth-child(2n) {
    background-color: #F7F7F7;
}

#container {
    background-color: #F7F7F7;
    width: 360px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#input-field {
    font-size: 18px;
    background: #F7F7F7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #2980B9;
    border: 3px solid rgba(0, 0, 0, 0);
}

#input-field:focus {
    background: white;
    border: 3px solid #2980B9;
    outline: none;
}

.checked-item {
    color: grey;
    text-decoration: line-through;
}
